<p id="notice"><%= notice %></p>

<p>
  <b>Item name:</b>
  <%= @south_indian.item_name %>
</p>

<p>
  <b>Price:</b>
  <%= @south_indian.price %>
</p>


<%= link_to 'Edit', edit_south_indian_path(@south_indian) %> |
<%= link_to 'Back', south_indians_path %>
